// Force local fonts
$web-font-path: '';

@use "../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  textarea {
    font-family: monospace !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}