---
name: pull-request-ci
on:
  pull_request_target:
    paths: ['i18n.yaml']

jobs:
  generate-translations:
    defaults:
      run:
        shell: bash

    container:
      image: ghcr.io/luzifer-docker/action-env:master@sha256:b38faf618acbc1cf23ca03ef09447a4b29e44c11e95957e647ec7ce06b71914a
      env:
        CGO_ENABLED: 0
        GOPATH: /go

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Marking workdir safe
        run: git config --global --add safe.directory /__w/ots/ots

      - name: Re-Generate embedded translations file
        working-directory: ./ci/translate
        run: go run .

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          commit_message: 'CI: Update embedded translations'
          file_pattern: 'src/langs/langs.js'
