---
name: pull-request-ci
on:
  pull_request_target:
    paths: ['i18n.yaml']

jobs:
  generate-translations:
    defaults:
      run:
        shell: bash

    container:
      image: ghcr.io/luzifer-docker/action-env:master@sha256:6c1a021aa6a050f4e99951b7e4ec24945019a20b6d4ef12bf52786cf99b6a2eb
      env:
        CGO_ENABLED: 0
        GOPATH: /go

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Marking workdir safe
        run: git config --global --add safe.directory /__w/ots/ots

      - name: Re-Generate embedded translations file
        working-directory: ./ci/translate
        run: go run .

      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          commit_message: 'CI: Update embedded translations'
          file_pattern: 'src/langs/langs.js'
