---
name: test-and-build
on:
  push:
    branches: ['**']
    tags: ['v*']

permissions:
  contents: write
  issues: write

jobs:
  test-and-build:
    defaults:
      run:
        shell: bash

    container:
      image: ghcr.io/luzifer-docker/action-env:master@sha256:34ca2f794e318d9c85a4e25eb3a5089f0a0fcbfd29b4b2917bd576ca2c99961f
      env:
        CGO_ENABLED: 0
        GOPATH: /go

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Marking workdir safe
        run: git config --global --add safe.directory /__w/ots/ots

      - name: 'Lint and test code: API'
        run: |
          go test -cover -v ./...
          golangci-lint run ./...

      - name: 'Lint and test code: Client'
        working-directory: ./pkg/client
        run: |
          go test -cover -v ./...
          golangci-lint run ./...

      - name: 'Lint and test code: OTS-CLI'
        working-directory: ./cmd/ots-cli
        run: |
          go test -cover -v ./...
          golangci-lint run ./...

      - name: Generate (and validate) translations
        run: make translate

      - name: Delete issue template when no languages require translation
        run: |
          grep -q "### Language" translate-issue.md || rm -f translate-issue.md

      - name: Update Translations Issue
        uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        if: github.ref == 'refs/heads/master' && hashFiles('translate-issue.md') != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: translate-issue.md
          update_existing: true

      - name: Build release
        run: make publish
        env:
          FORCE_SKIP_UPLOAD: 'true'
          MOD_MODE: readonly
          NO_TESTS: 'true'
          PACKAGES: '.'

      - name: Execute Trivy scan
        run: make trivy

      - name: Extract changelog
        run: 'awk "/^#/ && ++c==2{exit}; /^#/f" "History.md" | tail -n +2 >release_changelog.md'

      - name: Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          artifacts: '.build/*'
          bodyFile: release_changelog.md
          draft: false
          generateReleaseNotes: false
